Source: alternc-nss
Section: admin
Priority: optional
Maintainer: Koumbit <support@koumbit.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://alternc.com/

Package: alternc-nss
Architecture: all
Multi-Arch: foreign
Depends: apt-transport-https
       , alternc (>= 3.5.0~rc1),
       , ${misc:Depends}
Description: NSS plugin for alternc
 AlternC is a mutualized hosting software manager for Linux.
 It allows you to manage your websites, domains, ftp, emails, aliases,
 web statistics, mailing-lists, jabber accounts, etc.
 .
 This extension to AlternC provides NSS support about alternc account.
 Purpose is to provide POSIX compatible account.
 .
 More information at https://alternc.com/
